<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="myget" value="https://www.myget.org/F/tigra-astronomy/api/v3/index.json" />
    <add key="teamcity.osl" value="https://teamcity.devops.oceansignal.com/guestAuth/app/nuget/feed/OceanSignal/OceanSignal/v3/index.json" />
    <add key="teamcity.oss" value="https://teamcity.devops.oceansignal.com/guestAuth/app/nuget/feed/TimOss/OSS/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="TA.*" />
      <package pattern="Timtek.*" />
      <package pattern="*" />
    </packageSource>
    <packageSource key="myget">
      <package pattern="TA.*" />
      <package pattern="Timtek.*" />
    </packageSource>
    <packageSource key="teamcity.osl">
      <package pattern="OSL.*" />
    </packageSource>
    <packageSource key="teamcity.oss">
      <package pattern="OSL.*" />
      <package pattern="TA.*" />
      <package pattern="Timtek.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>